<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Create Company</h3>

                    <form action="/create" method="POST">

                        <div class="form-group">
                            <label for="">Name:</label><br>
                            <input type="text" name="" id="" class="form-control" placeholder="name">
                        </div>

                        <div class="form-group">
                            <label for="">Address:</label><br>
                            <input type="text" name="" id="" class="form-control" placeholder="address">
                        </div>

                        <div class="form-group">
                            <label for="">Revenue:</label><br>
                            <input type="text" name="" id="" class="form-control" placeholder="address">
                        </div>

                        <label>Phone No:</label>
                        <div class="form-row">

                            <div class="form-group col-md-4">
                              <input type="text" name="code" id="code" class="form-control" placeholder="code">
                            </div>
                            
                            <div class="form-group col-md-8">
                              <input type="text" name="number" id="number" class="form-control" placeholder="number">
                            </div>
                        </div>


                    </form>


                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Create Offices</h3>

                    <form action="/create" method="POST">

                        <div class="form-group">
                            <label for="">Name:</label><br>
                            <input type="text" name="" id="" class="form-control" placeholder="name">
                        </div>

                        <label>Location:</label>
                        <div class="form-row">

                            <div class="form-group col-md-6">
                              <input type="text" name="latitude" id="latitude" class="form-control" placeholder="latitude">
                            </div>
                            
                            <div class="form-group col-md-6">
                              <input type="text" name="longitude" id="longitude" class="form-control" placeholder="longitude">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="">Date:</label><br>
                            <input type="date" name="date" id="date" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="">Company:</label><br>
                            <input type="text" name="" id="" class="form-control" placeholder="Company">
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </div>
</div>